.App {
  text-align: center;
}
*{
  margin: 0;
  padding: 0;
}
.header{
  background: #000;
  color: white;
}
.text{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}
.storage{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 50px;
  width: 100%;
  align-items: center;
  color: black;
}
.data{
  display: flex;
  height: 4vh;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  height: 6vh;
  padding: 0px 9px 9px 9px;
  margin-top: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}